<!-- your_app/templates/my_petitions.html -->
{% extends 'base/base.html' %}

{% block content %}
    <ol class="breadcrumb" style="margin-top:-1rem">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
    </ol>
    <h4>My Petitions</h4>
    {% if user_petitions %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Likes</th>
                <th scope="col">Dislikes</th>
                <th scope="col">Comments</th>
                <th scope="col">Author</th>
            </tr>
            </thead>
            <tbody>
            {% for petition in user_petitions %}
                <tr>
                    <th scope="row">{{ petition.pk }}</th>
                    <td><a href="{% url 'petition_detail' pk=petition.pk %}">{{ petition.title }}</a></td>
                    <td>{{ petition.description }}</td>
                    <td>{{ petition.like_count }}</td>
                    <td>{{ petition.dislike_count }}</td>
                    <td>{{ petition.comment_count }}</td>
                    <td>{{ petition.user }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Likes</th>
                <th scope="col">Dislikes</th>
                <th scope="col">Comments</th>
                <th scope="col">Author</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
