{% extends 'base/base.html' %}

{% block content %}
  <style>
    .petition-form {
      display: flex;
      flex-direction: column;
      width: 500px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    .petition-form label {
      display: block;
      margin-bottom: 5px;
    }

    .petition-form input,
    .petition-form textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      margin-bottom: 15px;
    }

    .petition-form button {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 0 auto;
    }
  </style>
  <ol class="breadcrumb" style="margin-top:-1rem">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/main/petitions/my/">My Petitions</a></li>
  </ol>
  <div>
    <h2 style="text-align: center">Create a Petition</h2>
    <form class="petition-form" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit Petition</button>
    </form>
  </div>
{% endblock %}
