{% extends 'home/index.html' %}

{% block content %}
    <div class="Petition">
        <p class="Username">{{ petition.user }}</p>
        <a href="{% url 'petition_detail' pk=petition.pk %}"><p class="Title">{{ petition.title }}</p></a>
        <p class="Description">{{ petition.description }}</p>

        <p>Likes: {{ likes_count }}</p>
        <p>Dislikes: {{ dislikes_count }}</p>
        <p>Comments:</p>
        {% for comment in comments %}
            <div>
                <p>User: {{ comment.user }}</p>
                <p>Text: {{ comment.text }}</p>
            </div>
        {% endfor %}
        <form action="{% url 'like_petition' pk=petition.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Like</button>
        </form>

        <form action="{% url 'dislike_petition' pk=petition.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Dislike</button>
        </form>

            <form action="{% url 'comment_create' pk=petition.pk %}" method="post">
            {% csrf_token %}
            {{ comment_form.text }}
            <button type="submit">Comment</button>
        </form>
    </div>

<style>
    .Petition {
      display: grid;  /* Use display: grid for the container */
      grid-template-columns: 1fr 2fr;  /* Two columns with a width ratio of 1:2 */
      grid-template-rows: auto auto; /* Two rows with automatic height */
      border: 1px solid #ddd;
      margin-top: 1%;
      width: 100%;
    }

    .Username, .Title {  /* Style username and title */
      padding: 10px;
      margin: 0;
      border-bottom: 1px solid #ddd;  /* Add bottom border to resemble table cells */
    }

    .Description {  /* Style description */
      grid-column: 1 / span 2;  /* Span across both columns */
      padding: 10px;
      margin: 0;
    }

    .Title a {  /* Remove underline from link */
      text-decoration: none;
      color: #000;
    }
</style>
{% endblock %}
