{% extends 'base/base.html' %}

{% block content %}
    <a href="/main/petitions/all/">
        ← Back to petitions
    </a>
    <h3>{{ petition.title }}</h3>

    <p class="Username"><span class="badge bg-primary">author</span> {{ petition.user }}</p>
    <h4>Description</h4>
    <p class="Description">{{ petition.description }}</p>
    <div style="display:flex; gap:1rem">
        <form action="{% url 'like_petition' pk=petition.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-light">👍 {{ likes_count }}</button>
        </form>
        <form action="{% url 'dislike_petition' pk=petition.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-light">👎 {{ dislikes_count }}</button>
        </form>
    </div>
    <form action="{% url 'comment_create' pk=petition.pk %}" method="post"
          style="display: flex; flex-direction: column; gap:1rem">
        {% csrf_token %}
        {{ comment_form.text }}
        <button type="submit" class="btn btn-primary" style="width: fit-content;">Comment</button>
    </form>

    <h5>Comments:</h5>

    {% for comment in comments %}
        <div class="card" style="margin: 1rem 0; border-radius: 10px;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">
                    <img src="https://i.pravatar.cc/50" href="Avatar"
                         style="border-radius: 50px; object-fit: cover; width: 40px; aspect-ratio: 1/1;"/>
                    {{ comment.user }}
                </h6>
                <p class="card-text">{{ comment.text }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
