{% extends 'base/base.html' %}

{% block content %}
    <section style="display:flex; gap: 1rem; flex-wrap: wrap;">
        <a class="custom-card" href={% url 'petitions' %}>
            <img class="icon" alt="Форум" title="Дискусии"
                 src="https://moodle.astanait.edu.kz/theme/image.php/boost/forum/1677736259/icon">
            Discussions
        </a>
        <a href={% url 'petition_create' %} class="custom-card">
            Создать петицию
        </a>
    </section>

    <style>
        .custom-card {
            text-decoration: none;
            cursor: pointer;
            flex: 1;
            color: black;
            padding: 2rem 2rem;
            font-size: 1.2rem;
            min-width: 300px;
            border-radius: 10px;
            text-align: center;
            border: 1px solid #888888;
        }
    </style>
{% endblock %}