{% extends 'base/base.html' %}

{% block content %}
    <section id="inst12363" class="block_activity_modules block list_block  card mb-3" role="navigation" data-block="activity_modules" aria-labelledby="instance-12363-header">
        <div class="card-body p-3">
            <a href={% url 'petitions' %}>
                <h5 id="instance-12363-header" class="card-title d-inline">
                    Дискуссии
                </h5>
            </a>
            <div class="card-text content mt-3">
                <ul class="unlist">
                    <li class="r0">
                        <div class="column c1">
                            <a href={% url 'petitions' %}>
                                <img class="icon" alt="Форум" title="Дискусии" src="https://moodle.astanait.edu.kz/theme/image.php/boost/forum/1677736259/icon">
                                Дискусии
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="footer">
                    <a href={% url 'petition_create' %}>Создать петицию</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}