{% extends 'base/base.html' %}

{% block content %}
    <div>
        <h4>
            Personal information:
        </h4>
        <dl class="row">
            <dt class="col-sm-3">Username</dt>
            <dd class="col-sm-9">{{ user.username }} </dd>
            <dt class="col-sm-3">First name</dt>
            <dd class="col-sm-9">{{ user.first_name }} </dd>
            <dt class="col-sm-3">Last name</dt>
            <dd class="col-sm-9">{{ user.last_name }} </dd>
        </dl>
    </div>
    <hr/>
    <div class="Petitions">
        <h4>
            My petitions:
        </h4>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Likes</th>
                <th scope="col">Dislikes</th>
                <th scope="col">Comments</th>
                <th scope="col">Author</th>
            </tr>
            </thead>
            <tbody>
            {% for petition in user.petition_set.all %}
                <tr>
                    <th scope="row">{{ petition.pk }}</th>
                    <td><a href="{% url 'petition_detail' pk=petition.pk %}">{{ petition.title }}</a></td>
                    <td>{{ petition.description }}</td>
                    <td>{{ petition.like_count }}</td>
                    <td>{{ petition.dislike_count }}</td>
                    <td>{{ petition.comment_count }}</td>
                    <td>{{ petition.user }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
